@model firma_mvc.InvoiceItem

@{
    ViewData["Title"] = "Edit";
}

<p>
    <h2>Edycja pozycji</h2>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label"></label>
                <select asp-for="InvoiceId" class="form-control" asp-items="ViewBag.InvoiceId"></select>
                <span asp-validation-for="InvoiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-outline-primary" />
                @Html.ActionLink("Usuń", "Delete", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-outline-danger" })
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Powrót", "Details", "Invoices", new { id = Model.InvoiceId }, htmlAttributes: new { @class = "a" })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
