    <li class="dropdown">
        <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Ustawienia
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a asp-area="" asp-controller="InvoiceStatus" asp-action="Index">Faktura status</a></li>
            <li><a asp-area="" asp-controller="Items" asp-action="Index">Przedmiot</a></li>
            <li><a asp-area="" asp-controller="UnitOfMeasures" asp-action="Index">Jednostka miary</a></li>
        </ul>
    </li>