 <table class="table table-hover">
        <tbody>
            <tr class="table-light" data-toggle="modal" data-target="#newInvoice"><td><i class="far fa-file"></i> Nowa</td></tr>
            <tr class="table-light" onclick="location.href = '@Url.Action("Index", "InvoiceCorrections")'"><td><i class="far fa-edit"></i> Korekty</td></tr>
            <tr class="table-light"><td><i class="far fa-file-alt"></i> Robocze</td></tr>
            <tr class="table-light"><td><i class="fas fa-th-list"></i> Szablony</td></tr>
        </tbody>
    </table>

<!-- Modal -->
<div class="modal fade" id="newInvoice" tabindex="-1" role="dialog" aria-labelledby="newInvoiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newInvoiceLabel">Nowa faktura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    @await Html.PartialAsync("../Invoices/CreatePartial", @ViewData["Invoice"])
                </div>
            </div>
        </div>
    </div>
</div>