<table class="table table-hover">
    <tbody>
        <tr class="table-light" onclick="location.href = '@Url.Action("Index", "VATRegisterBuys")'"><td>Rejestr zakupów</td></tr>
        <tr class="table-light" onclick="location.href = '@Url.Action("Index", "VATRegisterSells")'"><td>Rejestr sprzedaży</td></tr>
    </tbody>
</table>