<table class="table table-hover">
    <tbody>
        <tr class="table-light" onclick="location.href = '@Url.Action("Index", "IncomeTaxes")'"><td>Podatek dochodowy</td></tr>
        <tr class="table-light" onclick="location.href = '@Url.Action("Index", "VAT7")'"><td>Podatek VAT</td></tr>
    </tbody>
</table>