@{
    string controller = ViewContext.RouteData.Values["Controller"].ToString();    
}
<br />

<div class="accordion" id="accordionExample">

    <div class="card">
        <a class="a-custom" href="~/Invoices">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h6 class="mb-0">
                    Faktury
                </h6>
            </div>
            </a>
            @if(controller=="Invoices")
            {
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div>
                    @await Html.PartialAsync("SidebarInvoices")
                </div>
            </div>
            }
            else
            {
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div>
                    @await Html.PartialAsync("SidebarInvoices")
                </div>
            </div>
            }
    </div>

    <div class="card">
        <a class="a-custom" href="~/TaxBooks">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h6 class="mb-0">
                    KPiR
                </h6>
            </div>
            </a>
    </div>

    <div class="card">
        <a class="a-custom" href="#">
            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h6 class="mb-0">
                    Rejestr VAT
                </h6>
            </div>
            </a>
            @if(controller=="VATRegisterSells" || controller=="VATRegisterBuys")
            {           
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div>
                    @await Html.PartialAsync("SidebarVATregister")
                </div>
            </div>
            }
            else
            {
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div>
                    @await Html.PartialAsync("SidebarVATregister")
                </div>
            </div>
            }
</div>

    <div class="card">
        <a class="a-custom" href="~/Contractors">
            <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h6 class="mb-0">
                    Kontrahenci
                </h6>
            </div>
            </a>
    </div>

    <div class="card">
        <a class="a-custom" href="~/Items">
            <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <h6 class="mb-0">
                    Towary i usługi
                </h6>
            </div>
            </a>
    </div>

    <div class="card">
        <a class="a-custom" href="#">
            <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <h6 class="mb-0">
                    Podatki
                </h6>
            </div>
            </a>
            @if(controller=="VAT7" || controller=="IncomeTaxes")
            {
            <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div>
                    @await Html.PartialAsync("SidebarTax")
                </div>
            </div>
            }
            else
            {
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div>
                    @await Html.PartialAsync("SidebarTax")
                </div>
            </div>
            }
    </div>

    <div class="card">
        <a class="a-custom" href="~/JPK">
            <div class="card-header" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <h6 class="mb-0">
                    Generator JPK
                </h6>
            </div>
            </a>
    </div>

        <div class="card">
            <a class="a-custom" href="~/FixedAssets">
                <div class="card-header" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <h6 class="mb-0">
                        Środki trwałe
                    </h6>
                </div>
            </a>
        </div>
    </div>