<div class="row col">
    <div class="form-group">
        <input type="submit" value="Dodaj" class="btn btn-outline-success" />
    </div>
    <div class="form-group col">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
    </div>
</div>