@model firma_mvc.FixedAssets

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FixedAssets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateOfBuy" class="control-label"></label>
                <input asp-for="DateOfBuy" class="form-control" />
                <span asp-validation-for="DateOfBuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfUseStart" class="control-label"></label>
                <input asp-for="DateOfUseStart" class="form-control" />
                <span asp-validation-for="DateOfUseStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identfier" class="control-label"></label>
                <input asp-for="Identfier" class="form-control" />
                <span asp-validation-for="Identfier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalValue" class="control-label"></label>
                <input asp-for="OriginalValue" class="form-control" />
                <span asp-validation-for="OriginalValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepreciationRate" class="control-label"></label>
                <input asp-for="DepreciationRate" class="form-control" />
                <span asp-validation-for="DepreciationRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpgradeValue" class="control-label"></label>
                <input asp-for="UpgradeValue" class="form-control" />
                <span asp-validation-for="UpgradeValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOriginalValue" class="control-label"></label>
                <input asp-for="UpdatedOriginalValue" class="form-control" />
                <span asp-validation-for="UpdatedOriginalValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiquidationDate" class="control-label"></label>
                <input asp-for="LiquidationDate" class="form-control" />
                <span asp-validation-for="LiquidationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiquidationReason" class="control-label"></label>
                <input asp-for="LiquidationReason" class="form-control" />
                <span asp-validation-for="LiquidationReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
