
@{
    ViewData["Title"] = "Ustawienia";
}

<p>
    <h2>Ustawienia</h2>
</p>

@{
    if (!string.IsNullOrEmpty(ViewBag.Info))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.Info
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-myCompany-tab" data-toggle="tab" href="#nav-myCompany" role="tab" aria-controls="nav-myCompany" aria-selected="true">Moja firma</a>
        <a class="nav-item nav-link" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="false">Ogólne</a>
        <a class="nav-item nav-link" id="nav-parameters-tab" data-toggle="tab" href="#nav-parameters" role="tab" aria-controls="nav-parameters" aria-selected="false">Parametry</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-myCompany" role="tabpanel" aria-labelledby="nav-myCompany-tab">
        @await Html.PartialAsync("../Companies/EditPartial.cshtml", @ViewData["Company"])
    </div>
    <div class="tab-pane fade" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
        @await  Html.PartialAsync("GeneralSettingsPartial")
    </div>
    <div class="tab-pane fade" id="nav-parameters" role="tabpanel" aria-labelledby="nav-parameters-tab">
        @await Html.PartialAsync("../Parameters/IndexPartial.cshtml", @ViewData["Parameters"])
    </div>
</div>
