@model firma_mvc.Item

@{
    ViewData["Title"] = "Create";
}

<h2>Dodaj</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitOfMeasureId" class="control-label"></label>
                <select asp-for="UnitOfMeasureId" class ="form-control" asp-items="ViewBag.UnitOfMeasureId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VATId" class="control-label"></label>
                <select asp-for="VATId" class ="form-control" asp-items="ViewBag.VATId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
