<p>
    <h2>Generator JPK</h2>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Typ JPK</label>
            <select class="form-control" asp-items="ViewBag.JPKType"></select>
        </div>

        @Html.ActionLink("Generuj", "Generate", new { month=6, year=2018, jpkTypeCode=1 }, htmlAttributes: new { @class = "btn btn-outline-dark" })
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>