@model firma_mvc.Invoice

<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="DateOfIssue" class="control-label"></label>
                <input asp-for="DateOfIssue" class="form-control" />
                <span asp-validation-for="DateOfIssue" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="DateOfDelivery" class="control-label"></label>
                <input asp-for="DateOfDelivery" class="form-control" />
                <span asp-validation-for="DateOfDelivery" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label asp-for="ContractorId" class="control-label"></label>
                <select asp-for="ContractorId" class="form-control" asp-items="ViewBag.ContractorId"></select>
            </div>
        </div>

<div class="row">
    <div class="col-6 my-1">
            <input class="form-control" type="text" name="searchQuery" placeholder="nazwa lub NIP" aria-label="Search">
        </div>
        <div class="my-1">
            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i> Szukaj</button>
        </div>
</div>

        <div class="row">
            <div class="form-group col-6">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
            </div>
        </div>
        <div class="row col">
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-outline-success" />
            </div>
            <div class="form-group col">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}