<div class="col-2">
    <p></p>
    <table class="table table-hover">
        <tbody>
            <tr class="table-light" onclick="location.href = '@Url.Action("Create", "Invoices")'"><td><i class="far fa-file"></i> Nowa</td></tr>
            <tr class="table-light" onclick="location.href = '@Url.Action("Index", "Invoices")'"><td><i class="far fa-copy"></i> Wystawione</td></tr>
            <tr class="table-light" onclick="location.href = '@Url.Action("Index", "InvoiceCorrections")'"><td><i class="far fa-edit"></i> Korekty</td></tr>
            <tr class="table-light"><td><i class="far fa-file-alt"></i> Robocze</td></tr>
            <tr class="table-light"><td><i class="fas fa-th-list"></i> Szablony</td></tr>
        </tbody>
    </table>
</div>